[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
jupyter = "*"
transformers = "*"
nltk = "*"
scikit-learn = "*"
wordcloud = "*"
boto3 = "*"
s3fs = "*"
labextension = "*"
install = "*"

[dev-packages]

[requires]
python_version = "3.8"
